*{
    box-sizing: border-box;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    margin:1em 2em;
    width:250px;
    height: auto;
    border-radius: 20px;
    background-color: #d6d6d6;
    text-align: center;
    border: 2px solid gray;
    font-weight: bold;
    font-size: 2em;
    padding:1em;
}

ul li span.icon{
    width: 200px;
    height: auto;
}

ul li span.icon img{
    width:100%;
    margin-top:2em;
}