* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    padding: 2rem;
}

input {
    display: none; /* Hide the checkbox */
}

.menu-open-button {
    cursor: pointer;
    display: inline-block;
    background: red;
    width:70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    align-content: center;
    
}

.menu-open-button:hover, 
.menu-open-button:focus{
    width: 80px;
    height:80px
}

.menu-open:checked + .menu-open-button{
    width:50px;
    height: 50px;
}

.menu-line {
    display: block;
    width: 30px;
    height: 4px;
    margin: 6px auto;
    border-radius: 9999px;
    background-color: #f5f5f5;
    transition: transform 0.3s ease-in-out;;
}

.menu-open:checked + .menu-open-button .menu-line-1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-open:checked + .menu-open-button .menu-line-2 {
    opacity: 0;
}

.menu-open:checked + .menu-open-button .menu-line-3 {
    transform: rotate(45deg) translate(-7px, -10px);
}


a.menu-item{
    position: relative;
    display: flex;
    align-items: center;
    visibility: hidden;
    margin: 30px 0;
    background-color: red;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    place-content: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    transition: visibility 0s ease-in-out, opacity 0.5s ease-in-out;
}

a.menu-item:focus, 
a.menu-item:hover{
    background-color: #f5f5f5;
    color:red
}

.menu-open:checked ~ .menu-item{
    visibility: visible;
    transition-delay: 0.1s;
}

.menu-open:checked ~ .menu-item:nth-child(2){
    transition-delay: 0.2s;
}
.menu-open:checked ~ .menu-item:nth-child(3){
    transition-delay: 0.3s;
}
.menu-open:checked ~ .menu-item:nth-child(4){
    transition-delay: 0.4s;
    visibility: visible;
}

.menu-open:checked ~ .menu-item:nth-child(5){
    transition-delay: 0.5s;  
}